---
layout: default
title: About
---

<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->

<p class="message" style="margin-bottom: 2rem; margin-top: 2rem">
  <strong>Welcome.</strong> I use experimental psychology and functional magnetic resonance imaging to learn about social expertise and emotional experience in humans like you and <a href="http://www.spsp.org/blog/this-is-my-brain-on-social-cognition/" target="_blank">me</a>, and lately have become especially interested in learning more about how and why people differ. I have a Ph.D. in Social Psychology from UCLA and there worked in the labs of <a href="http://www.scn.ucla.edu/" target="_blank">Matt Lieberman</a> and <a href="http://sanlab.psych.ucla.edu/" target="_blank">Naomi Eisenberger</a>. I am now a postdoctoral fellow in <a href="http://www.emotion.caltech.edu/" target="_blank">Ralph Adolphs’ Lab</a> at Caltech. Check out my <a href="/CV/" target="_blank">CV</a> and <a href="/Papers/" target="_blank">papers</a> to find out more about my research.
</p>
