<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/public/favicon/touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="192x192" href="{{ site.url }}/public/favicon/touch-icon-192x192.png" />
<link rel="apple-touch-icon-precomposed" sizes="36x36" href="{{ site.url }}/public/favicon/touch-icon-36x36.png" />
<link rel="apple-touch-icon-precomposed" sizes="48x48" href="{{ site.url }}/public/favicon/touch-icon-48x48.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/public/favicon/touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="96x96" href="{{ site.url }}/public/favicon/touch-icon-96x96.png" />
<link rel="icon" type="image/png" href="{{ site.url }}/public/favicon/favicon-256.png" sizes="256x256" />
<link rel="icon" type="image/png" href="{{ site.url }}/public/favicon/favicon-64.png" sizes="64x64" />
<link rel="icon" type="image/png" href="{{ site.url }}/public/favicon/favicon-32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ site.url }}/public/favicon/favicon-16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="{{ site.url }}/public/favicon/favicon-128.png" sizes="128x128" />

